# Ignore IDE configuration (for JetBrains IDEs like PyCharm)
.idea/

# Ignore Python cache directories
__pycache__/
**/__pycache__/  # Ignore all __pycache__ folders recursively

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore Python environments
.DS_Store

# Ignore data folder
data/

# Ignore logs folder
logs/

# Ignore .env file
.env

# Ignore .env.local file
.env.local

# Ignore venv folder
venv/ 

# Ignore .venv folder
.venv/

# Ignore .pytest_cache folder
.pytest_cache/

# Ignore .mypy_cache folder
.mypy_cache/

# Ignore .ruff_cache folder
.ruff_cache/


